<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="collapse navbar-collapse justify-content-center">
        <h4 class="text-light bg-dark">Client Preferences</h4>
      </div>
    </nav>
  </header>
 
  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="mt-5 col-12 mt-6 d-flex justify-content-center">
        <app-client></app-client>
      </div>
    </div>
  </main>
 
  <footer class="footer fixed-bottom bg-dark">
    <div class="container">
      <span class="text-muted">ASB Notebook</span>
    </div>
  </footer>
</body>