<div class="alert alert-danger" role="alert" *ngIf="_message.length > 0">
    {{_message}}
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Sl No.</th>
        <th scope="col">Tipo ID</th>
        <th scope="col">Numero ID</th>
        <th scope="col">Primer Nombre</th>
        <th scope="col">Segundo Nombre</th>
        <th scope="col">Primer Apellido</th>
        <th scope="col">Segundo Apellido</th>
        <th scope="col">Direccion</th>
        <th scope="col">Numero Celular</th>
        <th scope="col">Email</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Plan Preferido</th>
        <th scope="col"></th>
        <th scope="col"><button class="btn btn-success" (click)="open(null, content)">ADD</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of _clients; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ client.cliente_id.tipo_Identificacion}}</td>
        <td>{{ client.cliente_id.numero_Identificacion}}</td>
        <td>{{ client.primer_nombre }}</td>
        <td>{{ client.segundo_nombre }}</td>
        <td>{{ client.primer_apellido }}</td>
        <td>{{ client.segundo_apellido }}</td>
        <td>{{ client.direccion_residencia }}</td>
        <td>{{ client.numero_celular }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.fecha_nacimiento }}</td>
        <td>{{ client.plan_preferido }}</td>
        <td><button class="btn btn-primary" (click)="open(client.cliente_id, content)">UPDATE</button></td>
        <td><button class="btn btn-danger" (click)="deleteClient(client.cliente_id)">DELETE</button></td>
      </tr>
    </tbody>
  </table>
   
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create/Update Client</h4>
      <button type="button" class="close"
        aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="createUpdate()">
        <div class="form-group">
          <h2>Tipo de Identificacion : </h2>
          <input type="text" name="tipo_Identificacion" placeholder="Client Name" [(ngModel)]="_client.cliente_id.tipo_Identificacion"/>
          <h2>Numero de Identificacion : </h2>
          <input type="number" name="numero_Identificacion" placeholder="Numero de Identificacion" [(ngModel)]="_client.cliente_id.numero_Identificacion"/>
          <h2>Primer Nombre : </h2>
          <input type="text" name="primer_nombre" placeholder="Primer Nombre" [(ngModel)]="_client.primer_nombre"/>
          <h2>Segundo Nombre : </h2>
          <input type="text" name="segundo_nombre" placeholder="Segundo Nombre" [(ngModel)]="_client.segundo_nombre"/>
          <h2>Primer Apellido : </h2>
          <input type="text" name="primer_apellido" placeholder="Primer Apellido" [(ngModel)]="_client.primer_apellido"/>
          <h2>Segundo Apellido : </h2>
          <input type="text" name="segundo_apellido" placeholder="Segundo Apellido" [(ngModel)]="_client.segundo_apellido"/>
          <h2>Direccion Residencia : </h2>
          <input type="text" name="direccion_residencia" placeholder="Direccion Residencia" [(ngModel)]="_client.direccion_residencia"/>
          <h2>Numero Celular : </h2>
          <input type="number" name="numero_celular" placeholder="Numero Celular" [(ngModel)]="_client.numero_celular"/>
          <h2>Email : </h2>
          <input type="text" name="email" placeholder="Email" [(ngModel)]="_client.email"/>
          <h2>Fecha de Nacimiento : </h2>
          <div class="input-group">  
          <input class="form-control" placeholder="yyyy-mm-dd" name="fecha_nacimiento" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">  
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>  
            </div>
          </div>
          <h2>Plan Preferido : </h2>
          <input type="text" name="plan_preferido" placeholder="Plan Preferido" [(ngModel)]="_client.plan_preferido"/>
        </div>
        <button type="submit" class="btn btn-success">SAVE</button>
      </form>
  </div>